.company {
  margin-bottom: 40px;
  @include desktop {
    margin-bottom: 120px;
  }
}

.company__flex {
  @include flex-h-center;
  flex-direction: column;
  &--bg {
    background-repeat: no-repeat;
    background-image: url(../img/bg/company-bg.svg);
    background-position: center 60px;
  }
  @include desktop {
    background-size: 422px 316px;
    background-position: 700px 0px;
  }
}

.company__title {
  margin: 0px 0px 50px 0px;
  @include desktop {
    margin: 0px 0px 15px 0px;
    line-height: 50px;
  }
}

.company__description {
  width: 350px;
  padding-top: 185px;
  margin: 0px 0px 28px 0px;
  @include desktop {
    width: 515px;
    font-size: 16px;
    line-height: 30px;
    padding-top: 0;
    margin: 0px 0px 40px 0px;
  }
}

.btn__fone-company {
  @include desktop {
    align-self: flex-start;
  }
}
