$white: #fff;
$white-200: #eeeff2;
$black: #0b132a;
$gray: #4f5665;
$gray-checkbos: #b9bbc1;
$gray-light: #afb5c0;
$gray-disabled: #99a09c;
$green-light: #1fb765;
$green-dark: #147e45;
$red: #ff0000;

